<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body class="flex flex-col min-h-svh">
    <div class="grid grid-cols-6 flex-grow">
      <div class="col-start-3 col-span-2">
        <%-include('header.ejs') %>
        <h6 class="py-6 font-large">Login</h6>
        <p class="py-2">
          New here? Sign-up
          <a href="/signup" class="text-green-600 underline">here</a>
        </p>

        <form action="/session" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="py-3">
            <label for="email">Email:</label>
            <input
              type="email"
              name="email"
              class="rounded border border-green-600 text-gray-900 p-2 w-full" />
          </div>
          <div class="py-3">
            <label for="password">Password:</label>
            <input
              type="password"
              name="password"
              class="rounded border border-green-600 text-gray-900 p-2 w-full" />
          </div>

          <button
            type="submit"
            class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">
            Log in
          </button>
        </form>
        <% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
                  <li class="text-red-500"> <%= messages.error[i] %></li>
          <% } %>
        <% } %>
      </div>
    </div>
    <%- include('footer.ejs') %>
  </body>
</html>
